body{

background: rgb(181,55,242);
background: linear-gradient(90deg, rgba(181,55,242,1) 0%, rgba(138,43,226,1) 50%, rgba(60,185,252,1) 100%);
}

.nav-align {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 1em;
}

.nav-item {
  padding: 10px;
  border: 10px groove #120052;
  border-radius: 40px 5px 40px 5px;
}

.nav-text {
  font-family: 'AvaraBold', 'Impact', 'Arial Black';
  padding: 20px;
}

.title-adjust {
  display: flex;
  
}


/* Color Pallete*/
/* #3CB9FC
#B537F2
#8A2BE2
#120052 */