:root {
  /* header colors */
  --title-border-color: #ECCA11;
  --nav-border-color: #ECCA11;

  /* background gradient colors */
  --background-color-one: rgba(116,167,48,1);
  --background-color-two: rgba(157,190,118,1);
  --background-color-three: rgba(235,237,207,1);
}
/* background gradiant */
body{
/* background: rgb(116,167,48); */
background: linear-gradient(90deg, var(--background-color-one) 0%, var(--background-color-two) 50%, var(--background-color-three) 100%);
/* background: #EBEDCF; */
}


/* navigation tabs */
.nav-align {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

/* navigation borders/boxes */
.nav-item {
  padding: 10px;
  border: 10px groove var(--nav-border-color);
  border-radius: 40px 5px 40px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text {
  font-family: 'AvaraBold', 'Impact', 'Arial Black';
  font-size: 1.2vw;
  
  /* text-shadow: -1px -1px 0 #ECCA11, 1px -1px 0 #ECCA11, -1px 1px 0 #ECCA11, 1px 1px 0 #ECCA11; */
}

.title-adjust {
  display: flex;
  justify-content: space-between;
}

/* name/title displayed */
.title-display {
  -moz-transform: scale(0.9) rotate(306deg) translate(-50px, 30px);
  -webkit-transform: scale(0.9) rotate(306deg) translate(-50px, 30px);
  -o-transform: scale(0.9) rotate(306deg) translate(-50px, 30px);
  -ms-transform: scale(0.9) rotate(306deg) translate(-50px, 30px);
  transform: scale(0.9) rotate(306deg) translate(-50px, 30px);
  height: 0;
  position: relative;
  font-size: 2.2vw;
}



.title-size {
  /* font-size: 30px;
  font-family: 'AvaraBold', 'Impact', 'Arial Black'; */
  /* position: absolute; */
  padding: 10px;
  border-bottom: 10px groove var(--title-border-color);
  border-radius: 35px 10px;
}

.personal-data-format {
  position: relative;
  left: 15em;
  width: 70%;
}


/* Color Pallete*/
/* #3CB9FC
#B537F2
#8A2BE2
#120052 */

/* Color Pallete*/
/* #436904
#74A730
#9DBE76
#EBEDCF
#ECDF60
#ECCA11 */

/* @media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 900px){
	.title-size {
  font-size: 15px;
  }
 
  .nav-text {
    font-size: 12px;
  }
}
*/
/* @media only screen and (max-width: 780px){

  .title-size {
    font-size: .5vw;
  }
  .nav-text {
    font-size: 8px;
  }
  
} */


@media only screen and (max-width: 780px){

  .title-size {
    font-size: 25px;
  }

  .nav-text {
    font-size: 15px;
  }

  .title-display {
    height: 60px;
    transform: unset;
    position: sticky;
  }

  .title-adjust {
    display: block;
    text-align: center;

  }

  .personal-data-format {
    font-size: 12px;
    width: 75%;
    position: unset;
    left: unset;
    
  }

  .about-screen {
    display: flex;
    justify-content: center;
  }

  .nav-align {
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-size {
  /* font-size: 30px;
  font-family: 'AvaraBold', 'Impact', 'Arial Black'; */
  /* position: absolute; */
  padding: 10px;
  border-bottom: 10px groove #ECCA11;
  border-radius: 35px 35px;
}
} 
